* {
    padding: 0px;
    margin: 0px;
}
.search-container {
    padding: 10%;
}

.search-box {
    border-radius: 5px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    margin: 0px auto;
    padding: 5%;
    text-align: center;
}

.search-response-box {
    margin-top: 50px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

    padding: 20px;
}