* {
    padding: 0px;
    margin: 0px;
}
.register-container {
    padding: 10%;
}

.register-box {
    text-align: center;
    margin: 0px auto;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

    padding: 5%;
}

.btnSubmit{
    margin: 15px;
    color: #fff;
    background-color: #0062cc;
}
