
* {
    padding: 0px;
    margin: 0px;
}

.prices-container {
    padding: 5%;
    padding-top: 1%;
}




.prices-box {
    /* float: left; */
    /* height:270px; */
    text-align: center;
    margin: 0px auto;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    padding: 5%;
    margin-bottom: 50px;
    width: auto;
}
